<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SkinThinc</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- Favicons -->
  <link href="../static/img/logo.png" rel="icon">
  <link href="../static/img/logo.png" rel="apple-touch-icon">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet">
</head>

<body class="index-page">

    <!-- Header-->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <a href="/" class="logo d-flex align-items-center me-auto">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="../static/img/logo.png" alt="">
        </a>
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#home">Home<br></a></li>
            <li><a href="#about">About<br></a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#team">Team</a></li>
            <!-- <a class="btn-getstarted flex-md-shrink-0" href="#">Mulai</a> -->
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>
    <!-- /Header-->

    <main class="main">

    <!-- Hero Section -->
    <section id="home" class="hero section">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">SELAMAT DATANG <br> DI SKINTHINC!</h1>
            <p data-aos="fade-up" data-aos-delay="100">Asisten untuk Penentuan Komposisi Skincare Berdasarkan Masalah Kulit Wajah</p>
            <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
              <a href="skinthinc" class="btn-get-started">Konsultasi Sekarang<i class="bi bi-arrow-right"></i></a>
              </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="../static/img/robot.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">
      <div class="container" data-aos="fade-up">
        <div class="row gx-0">
          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Tentang SkinThinc</h3>
              <h2>SkinThinc adalah sistem pakar berbasis Natural Language Processing (NLP) yang dirancang untuk memberi solusi komposisi skincare berdasarkan masalah kulit wajah.</h2>
              <p>
                Dalam pengembangan sistem ini, kami berkolaborasi dengan dr. Nur Djannah, seorang pakar di bidang kecantikan yang memiliki pengalaman luas dalam perawatan kulit. Dengan memanfaatkan pengetahuan dan wawasan dr. Nur Djannah, SkinThinc mampu memberikan solusi komposisi skincare yang lebih akurat dan sesuai dengan kebutuhan pengguna. Sistem ini mengintegrasikan data yang diperoleh dari dr. Djannah, sehingga pengguna dapat memperoleh solusi. SkinThinc bertujuan untuk membantu pengguna memahami kondisi kulit mereka dan menemukan produk yang tepat.
              </p>
              <div class="text-center text-lg-start">
                <a href="#faq" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Info Selengkapnya</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="../static/img/about.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section><!-- /About Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>F.A.Q</h2>
        <p>Pertanyaan yang Sering Diajukan</p>
      </div><!-- End Section Title -->
      <div class="container">
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="faq-container">
              <div class="faq-item faq-active">
                <h3>Apa itu SkinThinc?</h3>
                <div class="faq-content">
                  <p>SkinThinc adalah asisten skincare yang didukung oleh AI, dirancang untuk membantu Anda dalam menentukan komposisi skincare yang akurat dan sesuai dengan masalah kulit Anda. SkinThinc membantu Anda dalam membangun rutinitas perawatan kulit yang tepat.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
              <div class="faq-item">
                <h3>Bagaimana cara kerja SkinThinc?</h3>
                <div class="faq-content">
                  <p>SkinThinc adalah sistem pakar berbasis Natural Language Processing (NLP) yang dirancang untuk menganalisis informasi terkait jenis kulit, masalah kulit, dan preferensi pengguna. Sistem ini memanfaatkan data dari pakar untuk memberikan solusi komposisi skincare yang sesuai dengan kebutuhan kulit wajah Anda.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
              <div class="faq-item">
                <h3>Apakah SkinThinc menggantikan saran dari dermatologis?</h3>
                <div class="faq-content">
                  <p>SkinThinc dirancang untuk memberikan edukasi dan solusi berdasarkan pengetahuan yang telah teruji dari data pakar. Namun, untuk kondisi kulit serius atau kebutuhan perawatan khusus, kami tetap menyarankan konsultasi langsung dengan dermatologis.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
            </div>
          </div><!-- End Faq Column-->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="faq-container">
              <div class="faq-item">
                <h3>Apakah SkinThinc dapat digunakan oleh semua masalah kulit wajah?</h3>
                <div class="faq-content">
                  <p>Ya, SkinThinc dirancang untuk mengenali berbagai masalah kulit wajah. Dengan masukan yang akurat dari pengguna, sistem ini dapat memberikan solusi yang relevan dan sesuai dengan masalah kulit Anda.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
              <div class="faq-item">
                <h3>Apakah saya perlu membayar untuk menggunakan SkinThinc?</h3>
                <div class="faq-content">
                  <p>SkinThinc dapat digunakan secara gratis untuk fitur dasar yang mencakup solusi perawatan kulit berdasarkan kebutuhan Anda. Kami juga menyediakan fitur tambahan opsional bagi pengguna yang menginginkan pengalaman lebih mendalam tanpa keharusan untuk berlangganan.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
              <div class="faq-item">
                <h3>Bagaimana cara menggunakan SkinThinc untuk mendapatkan solusi komposisi yang tepat?</h3>
                <div class="faq-content">
                  <p>Pengguna hanya perlu memberikan informasi tentang masalah kulit wajah melalui sistem. SkinThinc akan menganalisis data tersebut menggunakan teknologi NLP dan memberikan komposisi skincare yang spesifik dan terpersonalisasi sesuai kebutuhan kulit Anda.
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
            </div>
          </div><!-- End Faq Column-->
        </div>
      </div>
    </section><!-- /Faq Section -->

    <!-- Team Section -->
    <section id="team" class="team section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Team SkinThinc</p>
      </div><!-- End Section Title -->
      <div class="container">
        <div class="row gy-4 justify-content-center">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="../static/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.facebook.com/asyrofi00?mibextid=ZbWKwL" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/_fii.00/?igsh=MXNubmZ6dzR2NnY1Zw%3D%3D" target="_blank"><i class="bi bi-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Asyrofi Anam</h4>
                <span>202255202070</span>
                <p>Mahasiswa Teknik Informatika Semester 5 Universitas Muhammadiyah Sorong</p>
              </div>
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="../static/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.facebook.com/people/Rikaa-Tofuu/pfbid0rgf3z1p4VxFVGFrLao2paAXdNQxsj1H9c3BYiKGyxfYMB9S7pBu1XdzfXjPN3Xkfl/?mibextid=ZbWKwL" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/kingsampan/?igsh=MWZ2bXFqMmx1bjc1NA%3D%3D#" target="_blank"><i class="bi bi-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Muhammad Rifki Raihan</h4>
                <span>202255202095</span>
                <p>Mahasiswa Teknik Informatika Semester 5 Universitas Muhammadiyah Sorong</p>
              </div>
            </div>
          </div><!-- End Team Member -->
        </div>
      </div>
    </section>
    <!-- /Team Section -->

  </main>

  <!-- Footer -->
  <footer id="footer" class="footer">
    <div class="container footer-top text-center">
      <div class="row justify-content-center gy-4">
        <div class="col-lg-4 footer-about">
          <a href="#" class="d-flex justify-content-center align-items-center">
            <span class="sitename">SkinThinc</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Sorong, Papua Barat Daya</p>
            <p><strong>SkinThinc</strong> © 2024 </p>
          </div>
        </div>
        <div class="col-lg-2 footer-links">
          <ul class="text-center">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#team">Team</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- /Footer -->  

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>